.card {
  color: white;
  height: 100%;
  text-align: center;
  vertical-align: baseline;
  background-color: #0F2027;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 0px 0px 15px 10px #0000003d;
  transition: all 190ms ease-in-out;
}
.container{
  padding: 140px 16px 50px 16px;
  display: grid;
  grid-template-columns: repeat(3, 20%);
  gap: 50px;
  justify-content: center;
}

img {
  border-radius: 10px;
  width: 100%;
  
}

.link{
  text-decoration: none;
}

h3{
  margin: 10px 0px;
}
p{
  line-height: 1.6;
  margin: 6px 3px;
}

.not{
  color: white;
}

.card:hover{
  transform: scale(1.09);
}
