<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./prueba.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="flex">
      <form action="">
        <div class="clase">
          <p>mensaje</p>
          <input type="text">
        </div>
        <div>
          <p>mensaje</p>
          <input type="text">
        </div>
        <div>
          <p>mensaje</p>
          <input type="text">
        </div>
        <div>
          <p>mensaje</p>
          <input type="text">
        </div>
      </form>
    </div>
      
  
    <div class="overlay active" >
			<div class="popup active" >
        <h1>
          succes
        </h1>
			</div>
		</div>
  </div>
  
</body>
</html>







<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="stylesheet" href="prueba.css">
  <title>Ventana Emergente Animada</title>
</head>

<body>
  <div class="contenedor">
    <article>
      <h1>Ventana Emergente Animada</h1>
      
      <button id="btn-abrir-popup" class="btn-abrir-popup">Abrir Ventana Emergente</button>
      
    </article>

    <div class="overlay" id="overlay">
      <div class="popup" id="popup">
        <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
        <h3>SUSCRIBETE</h3>
        <h4>y recibe un cupon de descuento.</h4>
        <form action="">
          <div class="contenedor-inputs">
            <input type="text" placeholder="Nombre">
            <input type="email" placeholder="Correo">
          </div>
          <input type="submit" class="btn-submit" value="Suscribirse">
        </form>
      </div>
    </div>
  </div>

  <script>
    var btnAbrirPopup = document.getElementById('btn-abrir-popup'),
      overlay = document.getElementById('overlay'),
      popup = document.getElementById('popup'),
      btnCerrarPopup = document.getElementById('btn-cerrar-popup');

    btnAbrirPopup.addEventListener('click', function () {
      overlay.classList.add('active');
      popup.classList.add('active');
    });

    btnCerrarPopup.addEventListener('click', function (e) {
      e.preventDefault();
      overlay.classList.remove('active');
      popup.classList.remove('active');
    });
  </script>
</body>

</html> -->